body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #b2f0f7, #ffffff);
}

.container {
    width: 600px;
    margin: auto;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.profile {
    display: block;
    margin: auto;
    border-radius: 50%;
}

h2 {
    border-bottom: 2px solid #00aaff;
}

ul {
    margin-left: 20px;
}
